/* CSS for R-Question Buttons */

/* CSS to hide the text initially */
  .hidden-text {
		display: none;
		color: blue;  
		font-family: sans-serif;
		font-size: 0.5em;
		margin-top: 10px;
		}					     	/* end hide  */
   
	#textToReveal{
		font-family: sans-serif;
		font-size: 0.50em;
		color: blue; 
		width: 80%;	
		text-align: right;		
		margin: auto;	
		}

.R-center{text-align: center;}	/* start at center of page  */
	.R-button-position {
		display:flex;
		margin: auto;	
		}

#R-button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 
					0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
 
  color: blue;  /*  was color: #cc0000;   CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
  cursor: pointer;
  display: inline-block;
  font-family: monospace, sans-serif;
  padding: 5px 16px;		/* was 7px  20px  */
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 24px;
  font-style: bold;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#R-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 
				0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-0.5deg);
}
